 /*UTILITY CLASSES*/
 .flex {
  display: flex;
}
.justify {
  justify-content: center;
}
.align {
  align-items: center;
}
.width {
  width: 100%;
}
.flex-col {
  flex-direction: column;
}
/*MAIN*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#main {
  height: 600px;
  padding-top: 4rem;
}
/* Dark Mode */
.dark{
  background-color: #111827;
  color: white;
  }
  .dark-container{
    color: #111827;
  }
.content {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.shadow{
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}
h1 {
  color: #0ea5e9;
}
.header {
  height: 15%;
}
.input {
  height: 40%;
  padding: 10px;
}
.input-container {
  gap: 7px;
}
input {
  border-radius: 10px;
  padding: 10px 10px 10px 20px;
  border: none;
  color: #111827;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
input::placeholder {
  color: #9ca3af;
}
input:focus {
  outline-color: #0ea5e9;
  outline-width: 0.5px;
  outline-offset: 0;
}
.input-container label {
  font-size: 15px;
  font-weight: 500;
}
.input-container p {
  font-size: 13px;
  color: #969696;
}
.buttons {
  height: 15%;
  gap: 12px;
}
.buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #0ea5e9;
  color: white;
  cursor: pointer;
}
.buttons button:active {
  background-color: #0a96d6;
}
.buttons button:last-child {
  background-color: rgb(229, 229, 229);
  color: rgb(28, 28, 28);
}
.buttons button:last-child:active {
  background-color: rgb(195, 195, 195);
}
.password {
  height: 20%;
  padding: 10px;
}
.pass-display {
  background-color: #e9e9e9;
  padding: 10px 15px 15px 15px;
  height: 40px;
  border-radius: 10px;
}
.container {
  position: relative;
  height: 50px;
  margin-top: 10px;
}
.clipboard a {
  color: black;
}
.error {
  font-size: 14px;
  color: red;
  margin-top: 10px;
}
.clipboard {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5px;
  right: 10px;
}
.copy,
.copied {
  background-color: #e9e9e9;
  color: rgb(36, 36, 36);
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  top: -30px;
  visibility: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.clipboard a:hover + .copy {
  visibility: visible;
}
.show {
  visibility: visible;
}
.footer{
  margin-top: 10px;
  gap: 1rem;
}
.footer a{
  text-decoration: none;
  color: #0a96d6;
}
.modes{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
 cursor: pointer;
}
@media (max-width: 400px) {
  .content {
    width: 350px;
  }
  h1 {
    font-size: 1.7rem;
  }
}
